<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  a {
    text-decoration: none;
    
  }
</style>

<body>

  <div style="text-align: center;">
    <h1>Información de interés para mascotas:</h1>
  </div>

  <div style="text-align: center;">
    <h3>Perros:</h3>
    <p>Cómo alimentar a tu perro</p>
    <p>Cómo bañar a tu perro</p>
  </div>

  <div style="text-align: center;">
    <h3>Gatos:</h3>
    <p>Cómo alimentar a tu gato</p>
    <p>Cómo bañar a tu gato</p>
  </div>
  <div style="text-align: center;">
    <h3>Hamsters:</h3>
    <p>Cómo alimentar a tu hamster</p>
    <p>Cómo limpiar la jaula de tu hamster</p>
  </div>
  <div style="text-align: center;">
    <h3>Peces:</h3>
    <p>Cómo alimentar a tus peces</p>
    <p>Cómo limpiar la pecera</p>
  </div>
</body>

</html>