<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <ul>
            <ol><a class="nav" href="/">Inicio</a></ol>
            <ol><a class="nav" href="/virtual-store">Tienda de Mascotas</a></ol>
        </ul>
    </nav>

    <router-outlet></router-outlet>

    <footer style="text-align: center;">
      <ul>
        <ol><p>Todos los derechos reservados </p></ol>
        <ol><p>Copyright 2023 &copy;</p></ol>
      </ul>
    </footer>
</body>

</html>

